@import url('https://fonts.googleapis.com/css?family=Merienda|Roboto');

body {
  width: 100%;
  font-family: 'Merienda', cursive;
}

.App {
  text-align: center;
  width: 100%;
}

.header {
  background-color: #222;
  height: 60px;
  padding: 15px 0;
  color: white;
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

.map-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}

.sidebar-menu {
  width: 28%;
  height: 100%;
  color: green;
}

.place-from-list p {
  cursor: pointer;
}

#map {
  width: 72%;
  height: 100%;
  position: absolute;
  margin-left: 28%;
}

.gm-style .gm-style-iw {
  font-family: 'Roboto', sans-serif;
}

.info-window p {
  text-align: left;
}

.logo {
  height: 10px;
  float: right;
}

@media screen and (max-width: 550px) {

 .header {
   height: 10%;
   padding: 2px 0;
   order: -1;
 }

  .sidebar-menu {
    width: 100%;
    height: auto;
    order: 1;
    position: relative;
    top: 260px;
  }

  #map {
    width: 100%;
    height: 45%;
    order: 0;
    margin: 0;
  }
}
