body {
  width: 100%;
}

.App {
  text-align: center;
  width: 100%;
}

.heading {
  background-color: #222;
  height: 80px;
  padding: 20px 0;
  color: white;
  width: 100%;
}

.h1 {
  font-size: 1.5em;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sidebarMenu {
  width: 20%;
  height: 100%;
  color: green;

}

.map {
  width: 80%;
  height: 100%;
  position: absolute;
  margin-left: 20%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
